spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/basketFinder
    username: basketFinder
    password: basketFinder
  
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        ddl-auto: validate

  security:
    oauth2:
      client:
        registration:
          google:
            clientId: googleClientId
            clientSecret: googleClientSecret
            redirectUriTemplate: "http://localhost:8080/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile

app:
  auth:
    tokenSecret: secretToken
    tokenExpirationMsec: 864000000
  oauth2:
    authorizedRedirectUris:
      - http://localhost:3000/oauth2/redirect
      
routes:
  publicRoutes:
    - "/"
    - "/error"
    - "/favicon.ico"
    - "/api/courts/public"
    - "/api/courts/*"
    - "/api/courts/private"
    - "/api/events/court/*"
    - "/api/events/public"
    - "/api/events/private"
    - "/api/comments/event/*"
    - "/api/comments/court/*"
    - "/favicon.ico"
    - "/**/*.png"
    - "/**/*.gif"
    - "/**/*.svg"
    - "/**/*.jpg"
    - "/**/*.html"
    - "/**/*.css"
    - "/**/*.js"

google.api.key: googleApiKey
